html, * {
    font-family: 'Times New Roman';
    box-sizing: border-box;
  }

  body {
    background-color: #F3EED9;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    font-size: 100px;
    font-weight: 50px;
    color: #A32C3A;
    display: inline-block;
    
  }