html, * {
    font-family: 'Times New Roman';
    box-sizing: border-box;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: white;
    height: 100vh;
    margin: 0;
  }

  header {
    font-size: 50px;
    font-weight: 50px;
    color: #A32C3A;
    text-align: center;
  }


  .box {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
    color: black;
  }


  .button {
    margin: 0 auto;
  }
  