
body {
  background-image: url('https://i.imgur.com/7pwcP7h.jpeg');
  background-color: white;
  color: black;
}

header {
  text-align: center;
  font-size: 40px;
  color: white;
}

.h .suit::after { content: '\2665';}
.s .suit::after { content: '\2660';}
.c .suit::after { content: '\2663';}
.d .suit::after { content: '\2666';}
.s, .c{color:black;}
.h, .d{color: red;}
.hand {
  position: absolute;
}

.players {
  float: left;
  width: 49%;
  min-height: 300px;
  border: 1px solid #ddd;
  color: white;
}

.score {
  font-size:1.5em;
  color: white;
}

#message{
  font-size: 1.2em;
  color: white;
  background-color: black;
  padding: 2px;
  
}

.btn {
  border-radius: 5px;
  padding: 9px 20px;
  color: white;
  display: inline-block;
  text-align: center;
}

#btnDraw {
  background-color: red;
}

.iCard {
  position: absolute;
  padding: 10px;
  height: 220px;
  width: 150px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  top: 0;
  left: 0;
}

.cardtop {
  font-size: 2em;
  height: 40px;
  line-height: 0.7em;
}

.cardmid {
  text-align: center;
  font-size: 5em;
  height: 110px;
}

.cardbottom {
  font-size: 2em;
  height: 50px;
  line-height: 0.7em;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}


